<!DOCTYPE html>
<html lang="en">

<%- include('Partials/head'); %>
    <title>Jordan Page</title>
    </head>

    <body>
        <%- include('Partials/nav'); %>
            <div class="background-container">
                <div class="card text-black mb-3 welcome-container">
                    <div class="card-header">
                        <h1>Welcome!</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">My name is Jordan Page and I am a software developer working for Fusion Technology LLC. I am currently contracted working with WVU Pharmacy.</p>
                    </div>
                </div>
            </div>
    </body>

</html>