<!DOCTYPE html>
<html lang="en">

<%- include('Partials/head'); %>
    <title>Projects</title>
    </head>

    <body>
        <%- include('Partials/nav'); %>
            Projects...
    </body>

</html>