img {
    height: 80px;
    width: 100px;
    margin-top: 0;
    float: left;
    margin-right: 0;
}

.navbar-brand {
    margin-right: 0;
    padding: 0;
}

.navbar {
    padding: 0;
    padding-right: 1em;
}

h2 {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

body {
    margin: 0;
}

.background-container {
    background-image: url(../images/pp.jpg);
    height: 100vh;
    width: 100vw;
    background-size: auto;
    background-position: center top;
    background-attachment: scroll;
    display: flex;
}

.welcome-container {
    max-width: 16em;
    max-height: 16em;
    background-color: hsl(200, 100%, 50%, .5);
    float: right;
    margin-left: 14em;
    margin-top: 14em;
    box-shadow: 10px 10px 8px 10px #888888;
}